doctype html
html
  head
    title Repositório de recursos didáticos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")


  body
    div(id="navbar" class="topnav")
      a(href="/" style="float: left") Home
      a(href="/users/signup" id="navbar_signup" style="cursor: pointer; float: right") Registar
      a(id="navbar_login" style="cursor: pointer; float: right") Login
    
    




    block content
