extends layout

block content
  div(id="navbar" class="topnav")
    a(href='/' style="float: left") Home
    a(id="navbar_resources" href="/materiais" style="float: left") Materiais
    a(id="navbar_resources" href="/users" style="float: left") Utilizadores
    if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
      a(style="float: left")=nivel
      a(href="/perfil" style="float: left") Perfil
      a(href="/users/logout" style="float: right") Logout
    else
      a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
      a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo
    
    if noticias
      each n in noticias
        h1 Foi postado material por ${n.nomeAutor} 