extends layout

block content
  div(id="navbar" class="topnav")
    a(href='/' style="float: left") Home
    a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
    a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo
  