extends layout 

block content 
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(href="/users/"+idUser style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 

    if erro 
        div(class="popup" onclick="activatePopup()")
            span(class="popuptext" id="myPopup")=erro
    else
        div(id="preview_ficheiro_form" class="modal" style="z-index: 101; width: 100%; max-width: 80%; %height: 100%; max-height: 80%")
        
        form(id="myForm" class="my-modal-content" style="width: 60%" action="/materiais/upload" method="POST" enctype="multipart/form-data")    
            h2(style="margin: 10px 20px 20px 20px") Adicionar Material
            Label Titulo
            input(type="text" name="titulo" required)
            Label Tipo
            input(list="tipos" name="tipo" required)
            datalist(id="tipos")
                each t in tipos 
                    option(value=t.tipo)
            Label Data de criação 
            input(type="date" name="dataCriacao" required style="margin-bottom: 20px")
            Label Descrição
            input(type="text" name="descricao" required)
            table(id="ficheiros-upload" class="w3-table-all" style="margin-bottom: 20px")
                tr 
                    th Nome 
                    th Tamanho 
                    th Preview 
                tr(id=`linha0` class="nova")
                    th(class="nome")
                    th(class="tamanho")
                    th(class="preview")
                    th 
                        input(hidden name="checksum0" value="")
                        button(class="adicionar" type="button" onclick=`adicionarFicheiro(0,'upload')`) &#10133;
                        input(name="material" type="file" id=`novoFicheiro0` onchange=`getChecksum(this,0)` style="display: none")
                        button(class="remover" type="button" style="color: red; display: none" onclick=`removerFicheiro('linha0', 'upload')`) &#10006;
            input(class="w3-button w3-white w3-hover-white" type="button" value="" style="cursor: default; outline:none")
            input(class="w3-btn w3-blue-grey" style="float:right" type="button" id="upload" value="Submeter")
            input(id="close_new_resource" class="w3-btn w3-blue-grey" style="float:right; margin-right: 10px" type="button" value="Cancelar")