doctype html
html
  head
    title Repositório de materiais didáticos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js")
    script(src="/javascripts/jquery-3.6.0.min.js")
    script(src="/javascripts/jszip.js")

    script(src="/javascripts/bagit.js")
    script(src="/javascripts/materiais.js")

  body
    block content
