doctype html
html
  head
    title Repositório de materiais didáticos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-recurso.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    link(rel='stylesheet', href='/stylesheets/recurso.css')
    link(rel='stylesheet', href='/stylesheets/popup.css')
    link(rel='stylesheet', href='/stylesheets/alert.css')
    link(rel='stylesheet', href='/stylesheets/split.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js")
    script(src="/javascripts/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src="/javascripts/jszip.js")
    script(src="/javascripts/bagit.js")
    script(src="/javascripts/materiais.js")
    script(src='/javascripts/bootstrap-tabs.js')


  body
    block content
