extends layout

block content
  div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(href="/users/"+idUser style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 

  body(style='background-image: url(/imagens/fundo.png);  background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;')
    .w3-container.w3-margin.w3-border-0
        .w3-container
            h3 Introduza as suas credenciais:
        form.w3-container(action='/users/login' method='POST')
            label Email:
            if mail
                input.w3-input(type="text" name="email" value=mail)
            else 
                input.w3-input(type="text" name="email")
            label Password:
            input.w3-input(type="password" name="password")
            input.w3-btn.w3-blue(type="submit" value="Enviar")

  if error
    div(class="alert")
        span(class="closebtn" onclick="this.parentElement.style.display='none';") &times;
        strong !{error}! Por favor tente novamente!
    