
extends layout 

block content   
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(href="/users/"+idUser style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 
    body(style='background-image: url(/imagens/fundo.png);  background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;')
        if(editar)
            div(id="signup_modal")
                div(class="signup_container")
                    .w3-container
                        h3 Introduza as suas credenciais: 
                    form.w3-container(action='/users/editar/'+editar._id method='POST')
                        label Nome: 
                        input.w3-input(type='text' name="nome" value=editar.nome)
                        label Nivel: 
                        select.w3-select(name="nivel")
                            if(editar.nivel=="Administrador")
                                option(value="Administrador" selected) Administrador
                            else 
                                option(value="Administrador" ) Administrador
                            if(editar.nivel=="Produtor")
                                option(value="Produtor" selected) Produtor
                            else 
                                option(value="Produtor" ) Produtor 
                            if(editar.nivel=="Consumidor")
                                option(value="Consumidor" selected) Consumidor
                            else 
                                option(value="Consumidor" ) Consumidor
                        label Email: 
                        input.w3-input(type='text' name="email" value=editar.email)
                        label Password: 
                        input.w3-input(type='password' name="password" value=editar.password)
                        input.w3-btn.w3-blue(type='submit' value="Editar") 


        else
            div(id="signup_modal")
                div(class="signup_container")
                    .w3-container
                        h3 Introduza as suas credenciais: 
                    form.w3-container(action='/users/signup' method='POST')
                        label Nome: 
                        input.w3-input(type='text' name="nome")
                        label Nivel: 
                        select.w3-select(name="nivel")
                            option(value="Administrador") Administrador
                            option(value="Produtor") Produtor
                            option(value="Consumidor") Consumidor    
                        label Email: 
                        input.w3-input(type='text' name="email")
                        label Password: 
                        input.w3-input(type='password' name="password")
                        input.w3-btn.w3-blue(type='submit' value="Enviar") 