extends layout

block content
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(style="float: left")=nivel
            a(href="/perfil" style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 

    if(nivel=="Administrador")
        if utilizadores 
            h1 Lista de Utilizadores
            .w3-container.w3-margin
                table.w3-table-all
                    tr
                        th Nome
                        th Email
                        th Nível
                        th Operações
                    each user in utilizadores.dados 
                        tr
                            td
                                a(href="/users/"+user._id)=user.nome
                            td=user.email
                            td=user.nivel
                            td     
                                a(href="/users/delete/"+user._id) Remover